:root {
    --primary: #1565c0;
    --bg: #fff;
    --section-bg: #f7f7f7;
    --text: #263238;
    --subtext: #616161;
    --link: #1565c0;
    --border: #ced0d4;


    --tag-color: #1565c0;
    --tag-bg-color: #e1ecf4;
    --tag-interest-color: #257942;
    --tag-interest-bg-color: #e4f3ea;
    --tag-dislike-color: #616161;
    --tag-dislike-bg-color: #e4e6e8;
    --tag-gear-color: #8b6255;
    --tag-gear-bg-color: #feebc8;

    --image-placeholder: #e9ecef;

    --section--featured-in: #faf6f0;

    --feature-gradient-from: #ffe9c8;
    --feature-gradient-to: #cfe8ff;

    --footer-bg: #ededed;

    --accent-color: #f4f4f5;

    --hero-blob-1: #c1d9f2;
    --hero-blob-2: #e1ecf4;
    --hero-blob-3: #c1d9f2;

    --quote-bg: #f0f8ff;
}

body {
    font-family: 'Lato', -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, “Helvetica Neue”, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
    font-weight: 400;
    line-height: 1.5;
    background: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 0;
}

html.dark {
    --primary: #539bf5;
    --bg: #111827;
    --section-bg: #1f2937;
    --text: #cbcbcb;
    --subtext: #adbac7;
    --link: #539bf5;
    --border: #444c56;


    --tag-color: #c2e8ff;
    --tag-bg-color: #143b5a;
    --tag-interest-color: #aeffca;
    --tag-interest-bg-color: #264030;
    --tag-dislike-color: #eaeaea;
    --tag-dislike-bg-color: #545454;
    --tag-gear-color: #241915;
    --tag-gear-bg-color: #bda373;

    --image-placeholder: #263238;

    --section--featured-in: #212121;

    --feature-gradient-from: #00354e;
    --feature-gradient-to: #001732;

    --footer-bg: #002232;

    --accent-color: #1f2937;

    --hero-blob-1: #1f2937;
    --hero-blob-2: #1f2937;
    --hero-blob-3: #1f2937;

    --quote-bg: #1f2937;
}

* {
    scrollbar-width: thin;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text);
}

.h2,
h2 {
    font-size: 1.5rem;
}

.h3,
h3 {
    font-size: 1.2rem;
}


a,
.btn-link {
    color: var(--link);
}

a:hover,
.btn-link:hover {
    color: var(--link);
}

.quick-nav {
    padding: 0;
    visibility: hidden;
    height: 0;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.quick-nav-items {
    background-color: rgb(var(--bg));
    backdrop-filter: blur(10px) brightness(1.05);
    -webkit-backdrop-filter: blur(10px) brightness(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid var(--border);
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.quick-nav-items li {
    margin: 0 1rem !important;
    padding: 0.8rem 0.6rem;
}

.quick-nav-items a {
    color: var(--text);
}

.quick-nav-items .active a {
    color: var(--link);
}

.sticky {
    height: auto;
    visibility: visible;
}

summary {
    color: var(--link);
}

.text {
    color: var(--text);
}

.subtext {
    color: var(--subtext);
}

.text-xl {
    font-size: 1.375rem;
}

.aura-text {
    font-weight: bold;
    background-image: linear-gradient(135deg, rgb(121, 40, 202), rgb(0, 112, 243), rgb(56, 189, 248), rgb(0, 112, 243), rgb(121, 40, 202));
    background-clip: text;
    color: #0000;
    background-size: 200% auto;
    animation: aura-gradient 8s ease-in-out infinite;
}

@keyframes aura-gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.hero-background {
    position: relative;
    z-index: -999;
}

.hero-background .hero-blob {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation: blob 7s infinite;
    background-color: var(--tag-bg-color);
    filter: blur(64px) brightness(1.05);
}

.hero-background .hero-blob:nth-child(1) {
    top: -512px;
    left: -200px;
    animation: blob 7s infinite;
    background-color: var(--hero-blob-1);
}

.hero-background .hero-blob:nth-child(2) {
    bottom: 0;
    right: 50%;
    height: 400px;
    width: 400px;
    animation: blob 12s infinite;
    background-color: var(--hero-blob-2);
}

.hero-background .hero-blob:nth-child(3) {
    bottom: 0;
    right: 0;
    animation: blob 5s infinite;
    background-color: var(--hero-blob-3);
}

@keyframes blob {
    0% {
        transform: translate(0px, 0px) scale(1);
    }

    33% {
        transform: translate(30px, -50px) scale(1.2);
    }

    66% {
        transform: translate(-20px, 20px) scale(0.7);
    }

    100% {
        transform: translate(0px, 0px) scale(1);
    }
}

.mode-switch {
    background-color: transparent;
    border: none;
}

.mode-switch:hover {
    background-color: var(--accent-color);
}

.mode-switch:focus {
    box-shadow: none;
}

.mode-switch>.mode-switch-icon {
    color: var(--subtext);
}

.leading-text {
    font-size: 2.5rem;
    color: var(--text);
}

.leading-subtext {
    color: var(--subtext);
    font-size: 1.8rem;
}

.text-tight {
    line-height: 1.4;
}

@media (max-width: 992px) {
    .leading-text {
        font-size: 1.875rem;
    }

    .leading-subtext {
        font-size: 1.5rem;
    }
}

.section-card {
    border-radius: 4px;
    background-color: var(--section-bg);
}

.avatar {
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

@media (max-width: 992px) {
    .avatar {
        width: 160px;
        height: 160px;
    }
}

.fa,
.fab {
    margin-right: 0.25rem;
}

.cryptedmail:after {
    content: "mehamasum@gmail.com";
}


.bio-section:before {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background: #3c78d8;
    margin: 10px 0;
}

.preference-label {
    font-size: 90%;
    color: var(--subtext);
}

.tag {
    font-size: 85%;
    vertical-align: baseline;
    margin-right: .5rem;
    margin-bottom: .5rem;
    display: inline-block;
    padding: .2em .6em;
    border-radius: 3px;
    color: var(--tag-color);
    background-color: var(--tag-bg-color);
}

.tag>i:before {
    margin-left: 4px;
    color: var(--link);
}

.interested-tag {
    background-color: var(--tag-interest-bg-color);
    color: var(--tag-interest-color);
}

.disliked-tag {
    background-color: var(--tag-dislike-bg-color);
    color: var(--tag-dislike-color);
}

.gear-tag {
    background-color: var(--tag-gear-bg-color);
    color: var(--tag-gear-color);
}

article>header h3 {
    font-family: 'Lato', -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, “Helvetica Neue”, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 0;
}

.role-title {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 0;
}

.role {
    border-bottom: 1px dotted var(--border);
    padding-bottom: 16px;
}

.role:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.placeholder {
    width: 48px;
    height: 48px;
    background: var(--image-placeholder) !important;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.placeholder:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.placeholder>svg {
    width: 100%;
    height: 100%;
}

q::before {
    height: 1.125rem;
    border-left-width: 0.225rem;
    content: " ";
    display: inline-block;
    margin-right: 0.5rem;
    border-left: 2px solid #47a1d8;
    padding: 0;
    width: 0;
}

address {
    display: inline;
    font-style: italic;
}

address+time {
    margin-left: 6px;
}

address+time:before {
    content: "-";
    margin-right: 6px;
}

.fa-trophy {
    color: #ffc107;
}

address,
time {
    color: var(--subtext);
}

.text-xs {
    font-size: 0.8em;
}

.quote {
    font-size: 16px;
}

.quote blockquote {
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
    color: var(--subtext);
    line-height: 1.4 !important;
    margin: 0;
    position: relative;
    z-index: 600;
}

.quote blockquote * {
    box-sizing: border-box;
}

.quote blockquote p {
    color: var(--subtext);
    line-height: 1.4 !important;
}

.quote blockquote p:first-child:before {
    content: '\201C';
    color: #81bedb;
    font-size: 7.5em;
    font-weight: 700;
    opacity: .3;
    position: absolute;
    top: -.4em;
    left: -.2em;
    text-shadow: none;
    z-index: -300;
}

.quote {
    position: relative;
}

.divider {
    border-top: 1px solid var(--border);
}

.transition {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

.projects {
    background-color: var(--section--featured-in);
    --section-bg: var(--bg);
}

.featured-in {
    padding: 5rem;
}

.featured-in-heading {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 0.8rem;
}

.featured-in-platform>svg {
    filter: grayscale(0.5);
    height: 100px;
    width: 200px;
    object-fit: contain;
    padding: 24px;
}

html.dark .featured-in-platform>svg {
    filter: grayscale(0.5) invert(0.25);
}

.values-header {
    font-size: 1.2rem;
}

.contact {
    padding: 5rem 1rem;
    background-image: linear-gradient(45deg, var(--feature-gradient-from) 0%, var(--feature-gradient-to) 100%);
    background-size: 200% 200%;
    animation: gradient 8s ease infinite;
}

.contact-graphic {
    font-size: 200px;
    color: var(--accent-color);
    animation: 2s cubic-bezier(.4, 0, .6, 1) infinite pulse;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse {
    50% {
        opacity: .5;
    }
}

.quotes-container {
    min-height: 600px;
    background-color: var(--quote-bg);
    border-radius: 4px;
    position: relative;
}

.quotes-container .quote {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    padding: 2rem;
    transition: opacity 0.5s ease-in-out;
}

.quotes-container .quote .fade {
    opacity: 0;
}

.quotes-container .quote blockquote p {
    color: var(--text);
}

.quotes-container .quote blockquote cite {
    color: var(--subtext);
}

.quotes-container .btn {
    position: absolute;
    top: calc(50% - 1.2rem);
    font-size: 1.2rem;

    display: none; /* Hide by default */
}

.quotes-container .btn-right {
    right: 0;
}

.quotes-container .btn-left {
    left: 0;
}

@media (min-width: 576px) {
    .quotes-container .btn-right {
        right: -1rem;
    }
    
    .quotes-container .btn-left {
        left: -1rem;
    }
}

.quotes-container .quote-counter {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: var(--subtext);
    display: none; /* Hide by default */
}

.footer {
    padding: 5rem 1rem;
    background-color: var(--footer-bg);
}