:root {
    --bg: #f3f6fd;
    --section-bg: #ffffff;
    --text: #263238;
    --subtext: #616161;
    --header: #0f1b61;
    --link: #673ab7;
    --border: #ced0d4;


    --tag-color: #1565c0;
    --tag-bg-color: #e1ecf4;
    --tag-interest-color: #257942;
    --tag-interest-bg-color: #e4f3ea;
    --tag-dislike-color: #616161;
    --tag-dislike-bg-color: #e4e6e8;

    --image-placeholder: #e9ecef;
}

body {
    font-family: 'Lato', -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, “Helvetica Neue”, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    background: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 0;
}

.background {
    background-size: cover;
    height: 100%;
    left: 0;
    opacity: .65;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221440%22%20height%3D%22560%22%20preserveAspectRatio%3D%22none%22%3E%3Cg%20mask%3D%22url(%26quot%3B%23a%26quot%3B)%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23e9ecef%22%20class%3D%22mainBackground-canvas%22%20d%3D%22M0%200h1440v560H0z%22%2F%3E%3Cpath%20d%3D%22M0%20666.176c124.297%209.192%20249.969-51.356%20339.197-138.376%2082.714-80.667%2079.037-209.79%20126.028-315.339C511.609%20108.274%20630.484%2024.566%20613.44-88.199c-17.053-112.824-150.142-162.608-230.482-243.636-73.931-74.564-124.57-176.498-222.819-213.548-101.087-38.121-217.511-31.348-317.391%209.831-95.281%2039.282-141.652%20141.075-217.605%20210.736-88.59%2081.251-233.272%20116.99-265.877%20232.692-32.549%20115.502%2045.175%20232.816%20105.454%20336.578%2055.879%2096.188%20139.481%20166.612%20226.861%20235.455C-212.13%20555.771-122.249%20657.136%200%20666.176%22%20fill%3D%22%23ced4da%22%20class%3D%22mainBackground-path1%22%2F%3E%3Cpath%20d%3D%22M1440%201113.819c113.065%2015.159%20244.619%2036.621%20333.476-34.92%2088.898-71.574%2058.091-214.608%20105.433-318.456%2047.295-103.745%20174.49-174.183%20171.106-288.15-3.388-114.126-108.166-196.336-187.916-278.044-75.676-77.534-153.694-168.9-261.228-182.125-104.696-12.876-188.086%2081.045-288.103%20114.565-94.882%2031.799-216.568%203.031-283.836%2077.118-67.277%2074.097-48.116%20189.903-49.471%20289.977-1.201%2088.703%2012.167%20173.806%2042.063%20257.328%2032.282%2090.186%2065.523%20182.722%20137.908%20245.46%2078.178%2067.759%20178.03%20103.499%20280.568%20117.247%22%20fill%3D%22%23dee2e6%22%20class%3D%22mainBackground-path2%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3Cmask%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h1440v560H0z%22%2F%3E%3C%2Fmask%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
    background-position: center;
    background-attachment: fixed;
}

html.dark .background {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221440%22%20height%3D%22560%22%20preserveAspectRatio%3D%22none%22%3E%3Cg%20mask%3D%22url(%26quot%3B%23a%26quot%3B)%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%230e2a47%22%20class%3D%22mainBackground-canvas%22%20d%3D%22M0%200h1440v560H0z%22%2F%3E%3Cpath%20d%3D%22M0%20666.176c124.297%209.192%20249.969-51.356%20339.197-138.376%2082.714-80.667%2079.037-209.79%20126.028-315.339C511.609%20108.274%20630.484%2024.566%20613.44-88.199c-17.053-112.824-150.142-162.608-230.482-243.636-73.931-74.564-124.57-176.498-222.819-213.548-101.087-38.121-217.511-31.348-317.391%209.831-95.281%2039.282-141.652%20141.075-217.605%20210.736-88.59%2081.251-233.272%20116.99-265.877%20232.692-32.549%20115.502%2045.175%20232.816%20105.454%20336.578%2055.879%2096.188%20139.481%20166.612%20226.861%20235.455C-212.13%20555.771-122.249%20657.136%200%20666.176%22%20fill%3D%22%23091b2e%22%20class%3D%22mainBackground-path1%22%2F%3E%3Cpath%20d%3D%22M1440%201113.819c113.065%2015.159%20244.619%2036.621%20333.476-34.92%2088.898-71.574%2058.091-214.608%20105.433-318.456%2047.295-103.745%20174.49-174.183%20171.106-288.15-3.388-114.126-108.166-196.336-187.916-278.044-75.676-77.534-153.694-168.9-261.228-182.125-104.696-12.876-188.086%2081.045-288.103%20114.565-94.882%2031.799-216.568%203.031-283.836%2077.118-67.277%2074.097-48.116%20189.903-49.471%20289.977-1.201%2088.703%2012.167%20173.806%2042.063%20257.328%2032.282%2090.186%2065.523%20182.722%20137.908%20245.46%2078.178%2067.759%20178.03%20103.499%20280.568%20117.247%22%20fill%3D%22%23133960%22%20class%3D%22mainBackground-path2%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3Cmask%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h1440v560H0z%22%2F%3E%3C%2Fmask%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}

html * {
    -webkit-transition: background-color 0.5s, border-color 0.5s;
    transition: background-color 0.5s, border-color 0.5s;
}

html.dark {
    --bg: #111827;
    --section-bg: #1f2937;
    --text: #adbac7;
    --subtext: #768390;
    --header: #adbac7;
    --link: #539bf5;
    --border: #444c56;


    --tag-color: #c2e8ff;
    --tag-bg-color: #143b5a;
    --tag-interest-color: #aeffca;
    --tag-interest-bg-color: #264030;
    --tag-dislike-color: #eaeaea;
    --tag-dislike-bg-color: #545454;

    --image-placeholder: #263238;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--header);
}

.special-header {
    font-family: 'Oswald', sans-serif;
}

.h2,
h2 {
    font-size: 1.5rem;
}

.h3,
h3 {
    font-size: 1.2rem;
}


a,
.btn-link {
    color: var(--link);
}

a:hover,
.btn-link:hover {
    color: var(--link);
}

summary {
    color: var(--link);
}

.subtext {
    color: var(--subtext);
}


.mode-switch {
    background-color: transparent;
    border: none;
}

.mode-switch>.mode-switch-icon {
    color: var(--link);
}

.about-me-section {
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    background-color: var(--section-bg);
}

.resume-section {
    background: var(--section-bg);
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    background-color: var(--section-bg);
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}

/* Increase all font sizes on mobile */

@media (max-width: 767px) {
    body {
        font-size: 16px;
    }

    .contact-section {
        align-items: start;
        text-align: start;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 8px;
    }
}

.avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

@media (max-width: 992px) {
    .avatar {
        width: 100px;
        height: 100px;
    }
}

.fa,
.fab {
    margin-right: 0.25rem;
}

.social-info {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-info>li {
    margin-right: 1rem;
}

.social-info>li>a>i {
    margin: 0;
}


.cryptedmail:after {
    content: "mehamasum@gmail.com";
}

.cryptedtel:after {
    content: "+880 152 111 2085"
}

.bio-section:before {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background: #3c78d8;
    margin: 10px 0;
}

.preference-label {
    font-size: 90%;
    color: var(--subtext);
}

.tag {
    font-size: 85%;
    vertical-align: baseline;
    margin-right: .5rem;
    margin-bottom: .5rem;
    display: inline-block;
    padding: .2em .6em;
    border-radius: 3px;
    color: var(--tag-color);
    background-color: var(--tag-bg-color);
}

.interested-tag {
    background-color: var(--tag-interest-bg-color);
    color: var(--tag-interest-color);
}

.disliked-tag {
    background-color: var(--tag-dislike-bg-color);
    color: var(--tag-dislike-color);
}

.winner-tag {
    color: #192325;
    background-color: #F3BF1E;
}

article>header h3 {
    font-family: 'Lato', -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, “Helvetica Neue”, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 0;
}

.placeholder {
    width: 48px;
    height: 48px;
    background: var(--image-placeholder) !important;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.placeholder:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.placeholder>svg {
    width: 100%;
    height: 100%;
}

q::before {
    height: 1.125rem;
    border-left-width: 0.225rem;
    content: " ";
    display: inline-block;
    margin-right: 0.5rem;
    border-left: 2px solid #47a1d8;
    padding: 0;
    width: 0;
}

address {
    display: inline;
    font-style: italic;
}

address+time {
    margin-left: 6px;
}

address+time:before {
    content: "-";
    margin-right: 6px;
}

.fa-trophy {
    color: #ffc107;
}

address,
time {
    color: var(--subtext);
}

.resume-section>h2 {
    text-transform: uppercase;
}

.copyright {
    font-size: 0.8em;
}

.quote {
    font-size: 16px;
}

.quote blockquote {
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
    color: var(--subtext);
    font-style: italic;
    line-height: 1.4 !important;
    margin: 0;
    position: relative;
    z-index: 600;
}

.quote blockquote * {
    box-sizing: border-box;
}

.quote blockquote p {
    color: var(--subtext);
    line-height: 1.4 !important;
    text-shadow: 1px 1px var(--section-bg);
}

.quote blockquote p:first-child:before {
    content: '\201C';
    color: #81bedb;
    font-size: 7.5em;
    font-weight: 700;
    opacity: .3;
    position: absolute;
    top: -.4em;
    left: -.2em;
    text-shadow: none;
    z-index: -300;
}

.quote {
    position: relative;
}

.divider {
    border-top: 1px solid var(--border);
}